<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
			This Splurty page was built by <a target="_blank" href="http://github.com/sahumphreys59">Sarah</a>. She is new to coding and web development and is apsiring to become a professional full-stack developer in the fall of 2019.
	</p>
	<br />
	<p>
		If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here </a>
	</p>	

	<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'sarah.jpg', class: 'img-fluid' %>
	</div>
	
	<div class="col-12 col-sm-7 offset-sm-1">
		<h2 class="text-center">Sarah Humphreys</h2>
		<br />
		<p>
			Sarah Humphreys is a recent graduate of Antioch University Santa Barbara with a bachelors in psychology. After college, Sarah decided to pursue a career in web development and design.
		</p>
	 </div>
	</div> 		

</div>	

<br class="clear" />
<br />
<br /> 
<br />
<br />
